.Navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    background-color: black;
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    opacity: 0.8;
}


.Navigation  li{
    border-bottom: solid 1px white;

}



.Horizontal{
    width:100%;
    margin: 20px;
}
.Horizontal li{
    float: left;
}

.Navigation  li a {
    color: white;
    display: block;
    padding: 8px 32px;
    text-decoration: none;
}

.Navigation  li h3 {
    color: white;
    display: block;
    padding: 4px 16px;
    text-decoration: none;
}

.Navigation  li a.active {
    background-color: #4CAF50;
    color: white;
}

.Navigation  li a:hover:not(.active) {
    background-color: #555;
    color: white;
}