:root {
    --transparent-background: rgba(0,0,0,0.93);
    --transparent-menu-background: rgba(0,0,0,0.96);
    --transparent-menu-background-mobile: rgba(0,0,0,0.85);;
    --text-color: #ddd;
    --title-color: #eee;
}

body{
    font-size:12px;
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("images/pattern0.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.homeBG{
    background-image: url("images/pattern0.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
.portfolioBG{
    background-image: url("images/pattern1.png");
}
.aboutMeBG{
    background-image: url("images/pattern2.png");
}
.contactsBG{
    background-image: url("images/pattern3.png");
}

*{
    z-index: 1;
}

.mainNavigation:hover ~ #background{
    filter: grayscale(30%);
}

/* Menu */
.mainNavigation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.mainNavigation a:active,.mainNavigation a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}
.absoluteCentered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeCard{
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    max-width: 100%;
    background-color: var(--transparent-background);
    margin: 0 2rem;
    transition: all 0.1s ease-in;
    outline: none;

}

.homeCard:hover {
    transform: scale(1.2) !important;
}


.homeCardTitle{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;

}

/* Inside menu */
#insideMenu{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--transparent-menu-background);

}

#navigation-spacer{
    height: 3rem;
}
#insideMenu li{
    display:inline-block;
    padding: 1rem;
}

#insideMenu li a{
    color: var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
}

#insideMenu li a:hover{
    color: white;
}


/* Main container */
.card{
    width:70%;
    height:auto;
    background-color: var(--transparent-background);
    padding: 2rem;
    margin:3rem auto 0 auto;

}

.card p{
    color: var(--text-color);
    font-size: 1.3rem;
}

.site-logo {
    max-width: 20rem;
    margin: 0 4rem;
}
.cardDescription{
    margin-bottom: 2rem;
}
.card *{
    text-align: center;
}
.card .cardTitle{
    color: var(--title-color);
    font-size: 2.5rem;
    font-weight: 600;
}

.card h2{
    /*border-top: 1px solid var(--text-color);*/
   color: var(--title-color);
    font-size: 2rem;
    margin-bottom: 0;
}

.flexBoxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a.anchor {
    display: block;
    position: relative;
    top: -5.5rem;
    visibility: hidden;
}


.fullsizeLogo{
    flex: 60%;
    display: block;
    margin: 0 auto;
}

.cardSection{
    /*padding-top: 4rem;*/
}
.cardSection:after{
    display:block;
    content:"";
    width: 30%;
    margin: 1rem auto 8rem auto;
}
/* Column flexbox */

.twocolumnFlexbox .column{
    flex: 50%;
}


/* Freelance */
.sonatos .logo img{
    max-width: 60%;
}


a{
    color: #D1740F;
    text-decoration: none;
}


/* Scrollable */

#insideMenu.extended li{
    padding: 2rem;
}
#insideMenu.extended li a{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

#insideMenu.extended li a:hover{
    color: #ddd;
}
#insideMenu *{
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

