:root {
    --transparent-background: rgba(0,0,0,0.8);
    --text-color: #ddd;
}

body{
    font-size:12px;
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Raleway', sans-serif;

}
body{
    background-image: url("images/pattern1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-transition: 0.2s -webkit-filter linear;
    -moz-transition: 0.2s -moz-filter linear;
    -moz-transition: 0.2s filter linear;
    -ms-transition: 0.2s -ms-filter linear;
    -o-transition: 0.2s -o-filter linear;
    transition: 0.2s filter linear, 0.2s -webkit-filter linear;
    z-index: 0;
}

.homeBG{
    background-image: url("images/pattern0.jpg");
}
.portfolioBG{
    background-image: url("images/pattern1.png");
}
.aboutMeBG{
    background-image: url("images/pattern2.png");
}
.contactsBG{
    background-image: url("images/pattern3.png");
}

*{
    z-index: 1;
}

.mainNavigation:hover ~ #background{
    filter: grayscale(30%);
}

/* Menu */
.mainNavigation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.absoluteCentered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeCard{
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: var(--transparent-background);
    margin: 0 3rem;
    transition: all 0.1s ease-in;
}

.homeCard:hover {
    transform: scale(1.2) !important;
}


.homeCardTitle{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;

}

/* Inside menu */
.insideMenu{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--transparent-background);

}

.navigation-spacer{
    height: 2rem;
}
.insideMenu li{
    display:inline-block;
    padding: 1rem;
}

.insideMenu li a{
    color: var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
}

.insideMenu li a:hover{
    color: white;
}


/* Main container */
.card{
    width:50%;
    height:auto;
    background-color: var(--transparent-background);
    padding: 2rem;
    margin:3rem auto 0 auto;

}

.card p{
    color: var(--text-color);
}